<!DOCTYPE html>
{%load static%}
{% load food_hub_templatetags %}
<html lang="en">
	{% load pwa %}
	{% progressive_web_app_meta %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Profile</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

	<!-- custom css file link -->
	<link rel="stylesheet" href="{%static 'css/style.css'%}">

</head>
<body>

<!-- header section start -->

<header class="header">
	
	<section class="flex">
		
		<a href="home.html" class="logo">Food HUB 😋</a>

		<nav class="navbar">
			<a href="home.html">Home</a>
			<a href="about.html">About</a>
			<a href="menu.html">Menu</a>
			<a href="orders.html">Orders</a>
			<a href="contact.html">Contact</a>
		</nav>

		<div class="icons">
			<a href="search.html"><i class="fas fa-search"></i></a>
			<a href="cart.html">
				<i class="fas fa-shopping-cart"></i>
				{% if user.is_authenticated %}
				{% count_pending_orders user.customer as pending_orders %}
				{% if not pending_orders == 0 %}
				<span>({{pending_orders}})</span>
				{% endif %}
				{% endif %}
			</a>
			<div id="user-btn" class="fas fa-user"></div>
			<div id="menu-btn" class="fas fa-bars"></div>
		</div>

		<div class="profile">
			{% if user.is_authenticated %}
			<p class="name">Hello! {{user.customer.fname|title}}</p>
			<div class="flex">
				<a href="profile.html" class="btn">Profile</a>
				<a href="{% url 'user_logout'%}" class="delete-btn">Logout</a>
			</div>
			{% elif user.is_superuser %}
			<div class="flex">
				<a href="profile.html" class="btn">Profile</a>
				<a href="{% url 'user_logout'%}" class="delete-btn">Logout</a>
			</div>
			{% else %}
			<p class="account"><a href="login.html">Login</a> or <a href="register.html">Register</a></p>
		</div>
			{% endif %}
	</section>

</header>

<!-- header section end -->

<!-- update profile section start -->

<section class="form-container">
	
	<form method="post">
		{% csrf_token %}
		<h3>Update Profile</h3>
		{% for message in messages %}
			<h4>{{message}}</h4>
		{% endfor %}

		{% if user.is_superuser %}
		<input type="text" name="stall_name" required placeholder="Stall Name" class="box" maxlength="50" value="{{user.customer.stall_name}}">
		{% endif %}
		<input type="text" name="fname" required placeholder="First Name" class="box" maxlength="50" value="{{user.customer.fname}}">
		<input type="text" name="lname" required placeholder="Last Name" class="box" maxlength="50" value="{{user.customer.lname}}">
		<input type="date" name="bday" required placeholder="Birth Date" class="box" maxlength="50" value="{{user.customer.bday}}">
		<input type="text" name="brgy" required placeholder="Barangay" class="box" maxlength="50" value="{{user.customer.brgy}}">
		<input type="text" name="full_address" required placeholder="Full Address" class="box" maxlength="50" value="{{user.customer.full_address}}">

		<input type="submit" class="btn">
	</form>

</section>

<!-- update profile section end -->

<!-- footer section start -->

<footer class="footer">
	
	<section class="grid">
		
		<div class="box">
			<img src="{%static 'images/email-icon.png'%}">
			<h3>Email</h3>
			<a href="mailto:ragitjoshua026@gmail.com">ragitjoshua026@gmail.com</a>		
		</div>

		<div class="box">
			<img src="{%static 'images/clock-icon.png'%}">
			<h3>Opening/Closing Hour</h3>
			<p>07:00am to 05:00pm</p>
		</div>

		<div class="box">
			<img src="{%static 'images/map-icon.png'%}">
			<h3>Address</h3>
			<a href="#">Irene St. Miramonte Subd. Lucban, Quezon</a>
		</div>

		<div class="box">
			<img src="{%static 'images/phone-icon.png'%}">
			<h3>Phone Number</h3>
			<a href="tel:5401234">540-1234</a>
			<a href="tel:5402134">540-2134</a>
			<a href="tel:5403214">540-3214</a>
		</div>

	</section>

	<div class="credit">
		All Rights Reserved 2022 <span>Foodhub ©</span>
	</div>

</footer>

<!-- footer section end -->

<div class="loader">
	<img src="{%static 'images/loader.gif'%}">
</div>

<!-- custom js file link -->
<script src="{%static 'js/script.js'%}"></script>

</body>
</html>