<!DOCTYPE html>
{% load static%}
{% load food_hub_templatetags %}
<html lang="en">
	{% load pwa %}
	{% progressive_web_app_meta %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

	<!-- custom css file link -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- header section start -->

<header class="header">
	
	<section class="flex">
		
		<a href="home.html" class="logo">Food HUB 😋</a>

		<nav class="navbar">
			<a href="home.html">Home</a>
			<a href="about.html">About</a>
			<a href="menu.html">Menu</a>
			<a href="orders.html">Orders</a>
			<a href="contact.html">Contact</a>
		</nav>

		<div class="icons">
			<a href="search.html"><i class="fas fa-search"></i></a>
			<a href="cart.html">
				<i class="fas fa-shopping-cart"></i>
				{% if user.is_authenticated %}
				{% count_pending_orders user.customer as pending_orders %}
				{% if not pending_orders == 0 %}
				<span>({{pending_orders}})</span>
				{% endif %}
				{% endif %}
			</a>
			<div id="user-btn" class="fas fa-user"></div>
			<div id="menu-btn" class="fas fa-bars"></div>
		</div>

		<div class="profile">
			{% if user.is_authenticated %}
			<p class="name">Hello! {{user.username|title}}</p>
			<div class="flex">
				<a href="profile.html" class="btn">Profile</a>
				<a href="{% url 'user_logout'%}" class="delete-btn">Logout</a>
			</div>
			{% elif user.is_superuser %}
			<div class="flex">
				<a href="profile.html" class="btn">Profile</a>
				<a href="{% url 'user_logout'%}" class="delete-btn">Logout</a>
			</div>
			{% else %}
			<p class="account"><a href="login.html">Login</a> or <a href="register.html">Register</a></p>
		</div>
			{% endif %}

	</section>

</header>

<!-- header section end -->

<div class="heading">
	<h3>Menu</h3>
	<p><a href="home.html">Home</a><span> / Menu</span></p>
</div>

<section class="reviews">
	
	<h1 class="title">Available Stores</h1>

	<div class="swiper reviews-slider">
		
		<div class="swiper-wrapper">
			
			{% for stall in stall %}
			<a href="menu-{{stall.stall_name}}.html">
			<div class="swiper-slide slide">
				<img src="{% static 'images/cat-1.png' %}">
				<h3>{{stall.stall_name}}</h3>
				<a href="menu-{{stall.stall_name}}.html"></a> 
				<br><p></p>			
			</div>
			</a> 
			{% endfor %}
		</div>
		<div class="swiper-pagination"></div>

	</div>
</section>

<!-- Store section end -->

<!-- Menu product section start -->
<section class="products">
	
	<h1 class="title">Menu</h1>

	<div class="box-container">
		{% for product in all_products %}
		<form method="post" class="box">
			<button type="button" class="fas fa-eye" name="add-to-cart" onclick="location.href='menu-{{product.stall_owner.customer.stall_name}}.html#{{product.product_name}}'"></button>
			<img src="{{product.product_image.url}}">
			<a href="menu-{{product.stall_owner.customer.stall_name}}.html" class="cat">{{product.stall_owner.customer.stall_name}}</a>
			<div class="name">{{product.product_name}}</div>
			<!--<div class="flex">
				<div class="price"><span>₱</span>{{product.product_price}}</div>
				<input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
			</div>  (optional) -->
		</form>
		{% endfor %}

	</div>

</section>
<!-- Menu product section ends -->


<!-- footer section starts -->

<footer class="footer">
	
	<section class="grid">
		
		<div class="box">
			<img src="{%static 'images/email-icon.png' %}">
			<h3>Email</h3>
			<a href="mailto:ragitjoshua026@gmail.com">ragitjoshua026@gmail.com</a>
		</div>

		<div class="box">
			<img src="{%static 'images/clock-icon.png' %}">
			<h3>Opening/Closing Hour</h3>
			<p>07:00am to 05:00pm</p>
		</div>

		<div class="box">
			<img src="{%static 'images/map-icon.png' %}">
			<h3>Address</h3>
			<a href="#">Irene St. Miramonte Subd. Lucban, Quezon</a>
		</div>

		<div class="box">
			<img src="{%static 'images/phone-icon.png' %}">
			<h3>Phone Number</h3>
			<a href="tel:5401234">540-1234</a>
		</div>

	</section>

	<div class="credit">
		All Rights Reserved 2022 <span>Foodhub ©</span>
	</div>

</footer>

<!-- footer section ends -->

<div class="loader">
	<img src="{% static 'images/loader.gif'%}">
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js'%}"></script>

<script>
var swiper = new Swiper(".reviews-slider", {
	loop: true,
	grabCursor: true,
	spaceBetween: 20,
	pagination: {
		el:".swiper-pagination",
		clickable: true,
	},
	breakpoints: {
		0: {
			slidesPerView: 1,			
		},
		700: {
			slidesPerView: 2,
		},
		1024: {
			slidesPerView: 3,
		},
	},
});	
</script>

</body>
</html>